@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
body {
	font-family: 'Roboto', sans-serif;
}

.gameboard div {
	position:absolute;
	-webkit-box-sizing: border-box; /* Safari 3.0 - 5.0, Chrome 1 - 9, Android 2.1 - 3.x */
	-moz-box-sizing: border-box;    /* Firefox 1 - 28 */
	box-sizing: border-box;         /* Safari 5.1+, Chrome 10+, Firefox 29+, Opera 7+, IE 8+, Android 4.0+, iOS any */
	border: 1px solid rgb(194, 194, 194);
	width:50px;
	height:50px;
}

.bg-1 {
	background-color: #131313;
}

.bg-2 {
	background-color: #1b1b1b;
}